{% load staticfiles %}
<nav class="navbar-default navbar-static-side " role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu sticky-top" id="side-menu" style="">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                    <img alt="image" class="img" src="{% static 'inetreco_logo.logo' %}">
                        </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                </div>
                <div class="logo-element">
                    <img alt="image" class="img" src="{% static 'inetreco_logo.logo' %}">
                </div>
            </li>
            <li>
                <a href="{% url 'haystack_search' %}"><i class="fa fa-search"></i> <span class="nav-label">Search</span></a>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">Services</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'server_list' %}">Services List</a></li>                    
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Servers</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'server_list' %}">Server List</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Network Devices</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'netdev_list' %}">Device List</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Other devices</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'netdev_list' %}">Other devices</a></li>
                </ul>
            </li>
     
        </ul>
    </div>
</nav>